.hero-image {
  background-image: url(./Assets/Images/Bike-Trail.jpg);
  height: 600px;
  width: 100%;
  background-size: cover;
}

.intro {
  font-size: 3em;
  color: seashell;
  width: 50%;
  height: 100%;
  margin: auto;
  /* padding: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro p {
  font-size: 0.5em;
}

header .contact {
  font-size: 0.5em;
  color: seashell;
  background: none;
  border: 2px solid seashell;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-top: 1em;
}

.box h3 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
  width: 75%;
  border-bottom: 2px solid black;
}

.box p {
  width: 80%;
  margin: auto;
  padding-top: 0.5em;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex: 1 1 150px;
  margin: 5px;

  width: 200px;
  height: 200px;
}

#carouselExampleCaptions {
  width: 100%;
  height: auto;
}

.aside-img {
  background-color: lightcoral;
}

.contact-form {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
}
.carousel-item {
  height: 30em;
}

.contact-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-area .box {
  flex: 1 1 200px;
}

.carousel {
  width: 640px;
  height: 360px;
}
