.hero-image {
  background-image: url(./Assets/Images/Bike-Trail.jpg);
  height: 600px;
  width: 100%;
  background-size: cover;
}

.navbar {
  background-color: black;
  opacity: 70%;
  width: 90%;
  margin: auto;
  border-radius: 0 0 5px 5px;
}

.intro {
  font-size: 3em;
  color: seashell;
  width: 50%;
  height: 100%;
  margin: auto;
  /* padding: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro p {
  font-size: 0.5em;
}

header .contact {
  font-size: 0.5em;
  color: seashell;
  background: none;
  border: 2px solid seashell;
  border-radius: 5px;
}

.contactForm {
  margin-right: 100px;
}
.container {
  border-radius: 20px;
}

.carousel {
  width: 640px;
  height: 360px;
}
